<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [class.show]="navbarOpen">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'beverage'" [routerLinkActive]="'active'">Zutaten</a>
      <a class="nav-item nav-link" [routerLink]="'pump'" [routerLinkActive]="'active'">Pumpen</a>
      <a class="nav-item nav-link" [routerLink]="'recipe'" [routerLinkActive]="'active'">Rezepte</a>
      <a class="nav-item nav-link" [routerLink]="'brew'" [routerLinkActive]="'active'">Zubereitung</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-2">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
